<!-- Portfolio Modal 2-->
<div class="modal fade" id="portfolioModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #serverForm="ngForm" (ngSubmit)="SaveServer(serverForm)">
                <div class="modal-header border-0">
                    <h4 class="modal-title"> Add Server</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="form-group mb-2">
                            <label for="" class="pull-left">IP</label>
                            <input type="text" ngModel name="ipAddress" class="form-control" required>
                        </div>
                        <div class="form-group mb-2">
                            <label for="" class="pull-left">Name</label>
                            <input type="text" ngModel name="name" class="form-control" required>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                                <div class="form-group">
                                    <label for="" class="pull-left">Memory</label>
                                    <input type="text" ngModel name="memory" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                                <div class="form-group">
                                    <label for="" class="pull-left">Type</label>
                                    <input type="text" ngModel name="type" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="" class="pull-left">Status</label>
                            <select name="statue" ngModel="SERVER_DOWN" class="form-control" required="">
                            <option value="SERVER_UP">SERVER UP</option>
                            <option value="SERVER_DOWN">SERVER DOWN</option>
                         </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" id="closeModal" data-bs-dismiss="modal">
                            cancel
                          </button>
                            <button type="submit" [disabled]="serverForm.invalid || (isloading$ |async) " class="btn btn-info">
                            <i *ngIf="isloading$ |async" class="fa fa-spinner fa-spin"></i>
                            <span *ngIf="isloading$ |async">Saving...</span>
                            <span *ngIf="!(isloading$ |async)">Add</span>
                          </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>